@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
/*font-family: 'Roboto', sans-serif;*/
.banner-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  color: yellow !important;
  text-shadow: 0 0 5px #000;
  margin: 0; }

.banner-index h1 {
  text-transform: uppercase; }

.banner-index p {
  color: #fff;
  text-align: start;
  font-size: 20px; }

button {
  color: #fff !important; }

h2 {
  background-color: #8F3985;
  text-transform: uppercase;
  color: yellow !important;
  text-shadow: 0 0 5px #000;
  text-align: center;
  padding: 10px;
  margin: 0; }

.nleft {
  background-image: url(../images/formulario.jpeg);
  background-size: cover;
  background-position: center;
  height: 600px; }

.nright h3 {
  text-align: center;
  color: #ffff01 !important;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  padding: 10px; }

.nright p {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  font-size: 20px; }

.nright {
  background-color: rgba(107, 48, 48, 0.75); }

footer {
  background-color: #8F3985;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px; }

footer i {
  font-size: 30px;
  color: #60b98d; }

footer i:hover {
  color: aquamarine;
  text-shadow: 0 0 5px black;
  transform: scale(0.9); }

.galeria-panaderia {
  min-height: 87vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo-panaderia.jpg);
  background-position: center;
  background-size: cover; }

.item {
  height: 250px;
  width: 400px;
  margin: 20px;
  border: 2px solid black; }

.imagenes {
  justify-content: center;
  align-items: center;
  padding: 100px; }

.galeria-panaderia h3 {
  text-align: center;
  color: #ffff01 !important;
  font-size: 45px;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  padding: 20px; }

.item1 {
  background-image: url(../images/brioche.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item2 {
  background-image: url(../images/croissant.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item3 {
  background-image: url(../images/cremona.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item4 {
  background-image: url(../images/pansemillas.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item5 {
  background-image: url(../images/budin.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item p {
  color: #ffff01;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  padding: 10px; }

.item:hover {
  transform: scale(0.95);
  transition: 1s all ease;
  color: black; }

.navbar {
  background-color: #8F3985; }

.nav-link {
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px; }
