@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #8F3985; }
  .navbar .nav-link {
    color: #fff !important;
    text-shadow: 0 0 5px #000;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px; }
    .navbar .nav-link:hover {
      color: #979696 !important;
      text-shadow: 0 0 5px #000;
      transform: scale(0.9); }

footer {
  background-color: #8F3985;
  color: #fff !important;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px; }
  footer i {
    font-size: 30px;
    color: #60b98d; }
    footer i:hover {
      color: aquamarine;
      text-shadow: 0 0 5px #000;
      transform: scale(0.9); }

.banner-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  color: yellow !important;
  text-shadow: 0 0 5px #000;
  margin: 0; }
  .banner-index h1 {
    text-transform: uppercase; }
  .banner-index p {
    color: #fff !important;
    text-align: start;
    font-size: 20px; }
  .banner-index button {
    color: #fff !important; }

h2 {
  background-color: #8F3985;
  text-transform: uppercase;
  color: yellow !important;
  text-shadow: 0 0 5px #000;
  text-align: center;
  padding: 10px;
  margin: 0; }

.nleft {
  background-image: url(../images/formulario.jpeg);
  background-size: cover;
  background-position: center;
  height: 600px; }

.nright {
  background-color: rgba(107, 48, 48, 0.75); }
  .nright h3 {
    text-align: center;
    color: #ffff01 !important;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px; }
  .nright p {
    color: #fff !important;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px; }

.galeria-panaderia {
  min-height: 87vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo-panaderia.jpg);
  background-position: center;
  background-size: cover; }
  .galeria-panaderia h3 {
    text-align: center;
    color: #ffff01 !important;
    font-size: 45px;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 20px; }

.item {
  height: 250px;
  width: 400px;
  margin: 20px;
  border: 2px solid black; }
  .item:hover {
    transform: scale(0.95);
    transition: 1s all ease;
    color: black; }
  .item p {
    color: #ffff01;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px; }

.imagenes {
  justify-content: center;
  align-items: center;
  padding: 100px; }

.itemPan1 {
  background-image: url(../images/brioche.jpeg); }

.itemPan2 {
  background-image: url(../images/croissant.jpeg); }

.itemPan3 {
  background-image: url(../images/cremona.jpeg); }

.itemPan4 {
  background-image: url(../images/pansemillas.jpeg); }

.itemPan5 {
  background-image: url(../images/budin.jpeg); }

.itemPan1 {
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.itemPan2 {
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.itemPan3 {
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.itemPan4 {
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.itemPan5 {
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.galeria-pasteleria {
  min-height: 87vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo-pasteleria.jpg);
  background-position: center;
  background-size: cover; }
  .galeria-pasteleria .titulo-pasteleria {
    text-align: center;
    color: #ffff01 !important;
    font-size: 45px;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 20px; }

.item {
  height: 250px;
  width: 400px;
  margin: 20px;
  border: 2px solid black; }
  .item:hover {
    transform: scale(0.95);
    transition: 1s all ease;
    color: black; }
  .item p {
    color: #ffff01;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px; }

.imagenes {
  justify-content: center;
  align-items: center;
  padding: 100px; }

.item1Pas {
  background-image: url(../images/cocoydulce.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item2Pas {
  background-image: url(../images/pastafrola.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item3Pas {
  background-image: url(../images/rogel.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item4Pas {
  background-image: url(../images/pansemillas.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.item5Pas {
  background-image: url(../images/budin.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 15px; }

.formulario {
  min-height: 87vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo-pedidos.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.main-form {
  width: auto;
  margin: 20px 0;
  background: linear-gradient(rgba(73, 68, 68, 0.356), rgba(70, 59, 59, 0.2));
  border-radius: 15px;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.contenido-pedido {
  width: 50%;
  text-align: center;
  margin: 10px 0; }

.estilo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.label {
  color: white;
  text-align: center;
  width: 300px;
  font-weight: 500; }

.input {
  display: block;
  width: 300px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc; }

.btn-form {
  outline: none;
  color: #fff !important;
  background-color: #041441;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer; }
  .btn-form:hover {
    transform: scale(0.9); }

.subtitulo {
  margin: 10px 0;
  color: #fff !important;
  text-transform: uppercase; }

.titulo-pedido {
  text-transform: uppercase;
  font-weight: 700;
  color: yellow !important;
  text-shadow: 0 0 5px #000;
  margin: 10px 0;
  justify-content: start;
  align-items: center; }

.wsp {
  text-decoration: none;
  color: green;
  font-size: 30px; }

.consulta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }
  .consulta i {
    padding: 10px; }

textarea {
  resize: none; }

.contenido-ferias {
  min-height: 87vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fondo-ferias.jpg);
  background-position: center;
  background-size: cover; }
  .contenido-ferias .titulo-ferias {
    text-align: center;
    color: #ffff01 !important;
    font-size: 45px;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 20px; }

.contenido {
  margin: 10px; }
  .contenido .ubicacion {
    padding-top: 10%;
    color: #fff !important;
    font-size: 30px;
    text-align: center; }
  .contenido .maps {
    padding-top: 5%;
    padding-left: 5%;
    justify-items: center;
    align-items: center; }
  .contenido iframe {
    border-radius: 20px;
    border: 2px solid grey; }
