.galeria-panaderia{
    min-height: 87vh;
    background-image: $BackgroundLinearGradient, url(../images/fondo-panaderia.jpg);
    background-position: center;
    background-size: cover;

    h3{
        text-align: center;
        color: rgb(255, 255, 1) !important;
        font-size: 45px;
        text-shadow: $TextShadow;
        text-transform: uppercase;
        padding: 20px;
    }
}

.item{
    height: 250px;
    width: 400px;
    margin: 20px;
    border: 2px solid black;

    p{
        color: rgb(255, 255, 1);
        text-shadow: 0 0 5px #000;
        text-transform: uppercase;
        padding: 10px;
        &:hover{
            transform: scale(0.95);
            transition: 1s all ease;
            color: black;
        }
    }
}

.imagenes{
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.item1Pan{
    background-image: url(../images/brioche.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item2Pan{
    background-image: url(../images/croissant.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item3Pan{
    background-image: url(../images/cremona.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item4Pan{
    background-image: url(../images/pansemillas.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item5Pan{
    background-image: url(../images/budin.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
