.galeria-pasteleria{
    min-height: 87vh;
    background-image: $BackgroundLinearGradient, url(../images/fondo-pasteleria.jpg);
    background-position: center;
    background-size: cover;

    .titulo-pasteleria{
        text-align: center;
        color: rgb(255, 255, 1) !important;
        font-size: 45px;
        text-shadow: $TextShadow;
        text-transform: uppercase;
        padding: 20px;
    }
}

.item{
    height: 250px;
    width: 400px;
    margin: 20px;
    border: 2px solid black;
    &:hover{
            transform: scale(0.95);
            transition: 1s all ease;
            color: black;
        }
    p{
        color: rgb(255, 255, 1);
        text-shadow: 0 0 5px #000;
        text-transform: uppercase;
        padding: 10px;
        
    }
}

.imagenes{
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.item1Pas{
    background-image: url(../images/cocoydulce.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item2Pas{
    background-image: url(../images/pastafrola.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item3Pas{
    background-image: url(../images/rogel.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item4Pas{
    background-image: url(../images/pansemillas.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.item5Pas{
    background-image: url(../images/budin.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}