$Violeta: #8F3985;
$TextShadow: 0 0 5px #000;
$Blanco: #fff !important;
$Font-Family: 'Roboto', sans-serif;
$BackgroundLinearGradient: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75));
$AmarilloImportant: yellow !important ;